/*
Table of Contents:
    General Page Styles
    Contact
    Animations
    Navigation Menu
    Video Background
    Header
        Contact
        Listen Live
*/

/* General Page Styles */
html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Animations */
@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Navigation Menu */
nav {
    position: absolute;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 35px;
    background-color: #656565;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    float: left;
    list-style: none;
}

nav a,
nav a:visited {
    display: block;
    padding: 8px;
    transition: all .3s ease-in-out;
    color: #d4d4d4;
    text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #ffffff;
}

nav a:hover,
nav a:active {
    outline: 0;
}

/* Video Background */
#background-video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 999px) {
    #background-video { display: none; }
    body {
        background: url("https://wjsv.github.io/assets/video-background/poster.jpg") no-repeat;
        background-size: cover;
    }
}

/* Header */

#page-header {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.header-logo {
    display: block;
    animation: fade-in-animation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #931324;
    font-family: sans-serif;
    font-size: 100px;
}

@media (max-width: 999px) {
    .header-logo {
        margin: auto;
        width: 90vw;
    }
}

@media (min-width: 1000px) {
    .header-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        margin: 0;
        height: 40vw
    }
}

/* Header: Contact */
.contact-icons {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media (max-width: 999px) {
    .contact-icons {
        display: none;
    }
}

.contact-icons li {
    margin: 3vh;
    padding: 1vh;
    list-style: none;
}

.contact-icons img {
    transition: all .3s ease-in-out;
    width: 5vw;
}

.contact-icons img:hover,
.contact-icons img:focus,
.contact-icons img:active {
    opacity: 0.7;
}

/* Header: Listen Live */
#listen-live {
    display: block;
    transition-duration: 0.3s;
    background-color: #931324;
    border-radius: 25vw;
    border: none;
    text-decoration: none;
}

#listen-live:hover,
#listen-live:focus,
#listen-live:active {
    background-color: #656565;
}

#listen-live h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #d4d4d4;
    font-family: sans-serif;
}

@media (max-width: 999px) {
    #listen-live {
        margin: auto 5rem;
        height: 5rem;
        width: auto;
        text-align: center;
    }

    #listen-live h2{
        transform: translatey(1.25rem);
        -ms-transform: translatey(1.25rem);
        font-size: 2rem;
    }
}

@media (min-width: 1000px) {
    #listen-live {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 50%;
        right: 4%;
        height: 5vw;
        width: 25vw;
        transform: translatey(-50%);
        -ms-transform: translatey(-50%);
    }

    #listen-live h2{
        margin-top: 0.75vw;
        font-size: 3vw;
    }
}

/*  */