/*
Table of Contents:
    General Page Styles
    Navigation Bar
    Video Background
        Responsive Video Background
    Header
*/

/* General Page Styles */
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #656565;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    float: left;
    list-style: none;
}

nav a,
nav a:visited {
    display: block;
    padding: 8px;
    transition: all .3s ease-in-out;
    color: #d4d4d4;
    text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: #ffffff;
}

nav a:hover,
nav a:active {
    outline: 0;
}

/* Video Background */
#background-video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Responsive Video Background */

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
        background: url("https://wjsv.github.io/assets/video-background/poster.jpg") no-repeat;
        background-size: cover;
    }
}
/* Header */

#page-header {
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

#page-header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #931324;
    font-family: sans-serif;
    font-size: 100px;

}

#page-header img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 75vh;
    color: #931324;
    font-family: sans-serif;
    font-size: 100px;
 }
